@import './common.scss';
@import './variables.scss';

// login
.sys-login-wrapper{
    background: url('../application/login/3.jpg') no-repeat;
    background-size:100% 100%;
    height: 100%;
    .title{
        position: absolute;
        top: 80px;
        width: 100%;
        text-align: center;
        color: #000;
    }
}
.sys-login{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    .sys-login-img{
        img{
            display: inline-block;
            filter: blur(1px);
        }
    }
    .sys-login-form{
        .el-form-item__label{
            color: #000;
        }
        .input-style {
            width: 400px;
            margin: 30px auto;
        }
        .image-verify--content {
            display: inline;
        }
    }
}

// home
.sys-container {
    position: relative;
}
.sys-container .el-header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    border-bottom: solid 1px #e6e6e6;
    background:$background-color;
}
.sys-container .sys-container-aside {
    position: fixed;
    left: 0;
    border-bottom: solid 1px #e6e6e6;
}
.sys-container .sys-container-main {
    margin-left: 200px;
}

// header
.sys-header{
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    .sys-header--title{
        text-align: left;
        color: #fff;
        .logo{
            line-height: 60px;
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            img{
                width: 100%;
            }
        }
    }
    .logout-btn{
        .el-button--text{
            color: #fff;
        }
    }
}

// aside
.sys-aside .el-submenu{
    background-color: $background-color;
    &:hover{
        background-color: $background-color;
    }
    .el-submenu__title{
        color: #fff;
    }
    .el-submenu__title i{
        color: #fff;
    }
}
.sys-aside  .quantitative-statistics{
    background-color: $background-color;
    color: #fff;
}
.sys-aside .el-submenu__title {
    text-align: left;
}
.sys-aside .el-submenu .el-menu-item {
    text-align: left;
}
.sys-aside .el-menu-item{
    text-align: left;
}

// implement-desc{
.sys-implement-desc{

}
.sys-implement-desc-button{
    margin-bottom: 20px;
    text-align: right;
}

// safety-precaution
.sys-safety-precaution{
    .title{
        text-align: left
    }
}
// model-iview
.sys-model-iview,
.sys-model-manage,
.sys-schedule-query,
.sys-schedule-control,
.sys-implement-desc,
.sys-visual-simulation,
.sys-crash-detection,
.sys-quantitative-statistics,
.sys-risk-query,
.sys-safety-precaution{
    width: 800px;
    margin: 0 auto;
}